<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerLinks}}
    
</head>
<body>
    
    <!-- Navbar -->
    {{>navbar}}

    <!-- Main Page -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Malik Muhammad Ali" class="img-fluid" title="Malik Muhammad Ali">
                        </figure>
                    </div>
                    <!-- Right Side -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello, My Name is Malik Muhammad Ali</p>
                        <h1>I am a <span class="text_clr">MERN Stack Developer, App Developer</span> and a Freelancer</h1>
                        <a href="https://www.linkedin.com/in/malikmuhammadali58/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>